@font-face {
  font-family: Tinos;
  src: url("../fonts/Tinos/Tinos-Regular.ttf");
}

@font-face {
  font-family: Tinos Regular;
  src: url("../fonts/Tinos/Tinos-Italic.ttf");
}

@font-face {
  font-family: TT Norms;
  src: url("../fonts/TT-Norms/TTNorms-Regular.otf");
}

body {
  margin: 0;
  padding: 0;
}

$base-font: TT Norms;

::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

.leftside-panel {
  position: fixed;
  top: 3em;
  left: 4em;
  width: 18%;
  .user {
    img:first-of-type {
      width: 4.5em;
      height: 4.5em;
    }
  }
  h6 {
    position: absolute;
    width: 170px;
    top: 3em;
    left: -2.5em;
    font-family: $base-font;
    font-size: 0.9em;
    line-height: 1em;
    display: flex;
    align-items: center;
    text-align: center;

    color: #0d1c2e;
  }

  .leftside-tabs ul {
    position: relative;
    left: -5em;
    top: 2em;
    list-style-type: none;
  }
  .leftside-tabs ul li {
    // padding: 1em;

    font-family: $base-font;
    font-size: 0.8em;
    // line-height: 1.5em;
    text-align: left;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 2em;
    &:hover {
      color: #2a8bf2;
    }
    &:last-of-type {
      margin-top: 5em;
    }
    img {
      width: 1.5m;
      height: 1.5em;
      margin-right: 1em;
      margin-bottom: -0.6em;
      filter: grayscale(1);
      &:hover {
        filter: grayscale(0);
        color: #2a8bf2;
      }
    }
  }
}

.rightside {

  position: relative;
  left: 20em;
  width: 100%;
  height: 100%;
  padding-left: 3em;
  background: linear-gradient(180deg, #eee 800%, #e5e5e5 100%);
  .middle-div {
    position: relative;
    top: 1.5em;
    width: 23.9em;
    height: 100%;
    overflow: scroll;

    .top {
      // background-color: aqua;
      // filter: blur(2em);
      // margin-left: 0.7em;
      position: fixed;
      z-index: 10;
      p:first-of-type {
        margin-right: 12.5em;
        font-family: TT Norms;
        font-size: 25px;
        line-height: 20px;
        display: flex;
        align-items: center;
        letter-spacing: s 0.01em;
        text-transform: capitalize;
        color: #0d1c2e;
        margin-bottom: 0.4em;
      }
      p:last-of-type {
        font-family: TT Norms;
        font-size: 14px;
        line-height: 10px;
        display: flex;
        align-items: center;
        text-transform: capitalize;
        color: #707c97;
      }
      .create {
        position: absolute;
        top: 1em;
        right: 0;
        width: 150px;
        height: 40px;
        background: linear-gradient(92.68deg, #7cb8f7 0%, #2a8bf2 100%);
        box-shadow: 6px 6px 25px rgba(42, 139, 242, 0.15),
          4px 4px 25px rgba(42, 139, 242, 0.05),
          10px 6px 25px rgba(42, 139, 242, 0.15);
        border-radius: 6px;
        text-align: center;
        justify-content: center;
        padding-left: 1em;
        p {
          width: 200px;
          font-family: TT Norms;
          font-size: 16px;
          line-height: 10px;
          color: #ffffff;
          display: flex;
          align-items: center;
          text-align: center;
          text-transform: capitalize;
        }
      }
    }

    .search {
      position: fixed;
      z-index: 10;
      margin-top: 5em;
      width: 24em;
      // margin-left: -em;
      display: grid;
      grid-template-columns: auto auto;
      grid-gap: 1em;
      height: 50px;
      background: #ffffff;
      border: 1px solid aqua;
      border-radius: 6px;
      i {
        margin: 0.5em 0 0.5em 0.5em;
      }
      p {
        position: absolute;
        top: 1.2em;
        right: 1.5em;
        font-family: TT Norms;
        font-size: 14px;
        line-height: 20px;
        text-transform: capitalize;
        color: #707c97;
        margin: 0.1em 0 0.5em 1em;
      }
      input {
        width: 6em;
        margin-left: 1.5em;
        border: none;
        border: white;
        font-family: TT Norms;
        font-size: 16px;
        line-height: 20px;
        display: flex;
        align-items: center;
        text-transform: capitalize;
        color: #707c97;
        &:focus {
          outline: none;
        }
      }
    }

    .message-card {
      // overflow: scroll;
      // filter: blur(1em);

      margin-top: 1em;
      height: 9em;

      background: #ffffff;
      border-radius: 10px;
      img {
        width: 50px;
        height: 50px;
        margin: 0.7em;
      }

      .message-head {
        display: grid;
        grid-template-columns: auto auto auto;

        p:first-of-type {
          font-family: TT Norms;
          font-size: 14px;
          line-height: 15px;
          margin-left: -3em;
          margin-top: 1.5em;
          width: 85px;
          align-items: left;
          text-align: left;
          text-transform: capitalize;

          color: #0d1c2e;
          span {
            font-family: TT Norms;
            font-size: 13px;
            line-height: 15px;
            margin-top: 0.8em;
            display: flex;
            align-items: center;
            text-align: center;
            text-transform: lowercase;
            width: 163px;
            color: #2a8bf2;
          }
        }

        p:last-of-type {
          font-family: TT Norms;
          font-size: 12px;
          line-height: 15px;
          display: flex;
          align-items: center;
          text-align: center;
          text-transform: lowercase;
          margin-top: 0em;
          margin-left: 10em;
          color: #707c97;
        }
      }

      .message-body {
        height: 68px;
        margin-left: 4em;
        font-family: TT Norms;
        font-size: 12px;
        line-height: 14px;
        align-items: center;
        margin-top: -2em;
        margin-bottom: 0.5em;
        color: #707c97;

        p {
          width: 310px;
          span {
            margin-left: 30em;
            margin-top: -2em;
            padding-left: 0.7em;
            width: 14px;
            height: 20px;
            font-family: TT Norms;
            font-size: 10px;
            line-height: 10px;
            display: flex;
            align-items: center;
            text-align: center;
            text-transform: lowercase;
            background: #ff3366;
            color: #ffffff;
            border-radius: 20px;
          }
        }

        .files {
          position: relative;
          width: 15em;
          left: 0em;
          top: 1em;
          div:first-of-type {
            margin-right: 1em;
            display: inline-block;
            height: 2em;
            width: 5em;
            text-align: center;
            color: #2a8bf2;
            background: rgba(42, 139, 242, 0.25);
            border-radius: 20px;
          }
          div:last-of-type {
            margin-right: 1em;
            display: inline-block;
            height: 2em;
            width: 5em;
            text-align: center;
            color: #ff3366;
            background: rgba(255, 51, 102, 0.25);
            border-radius: 20px;
          }
        }
      }
    }
  }

  .right-div {
    position: fixed;
    right: 3em;
    background: #ffffff;
    top: 1.5em;
    height: 96%;
    width: 30em;
    // border: 2px solid red;
    .top {
      height: 5em;
      background: #fafbff;
      border-radius: 6px 6px 0px 0px;
      img:first-of-type {
        width: 8em;
        height: 8em;
        margin: -1.5em;
        cursor: pointer;
        // background: red;
      }
      img:nth-of-type(2) {
        // background: red;
        width: 5em;
        height: 5em;
        position: absolute;
        top: 0em;
        right: 3em;
        cursor: pointer;

        // margin-top: -16em;
        // margin-left: 22em;
      }
      img:last-of-type {
        // margin-bottom: 5em;
        cursor: pointer;

        position: absolute;
        top: 1em;
        right: 1em;
        width: 5em;
        height: 5em;
        margin: -1em;
      }

      p:first-of-type {
        font-family: TT Norms;
        font-size: 15px;
        line-height: 18px;
        // display: flex;
        // align-items: center;
        text-align: left;
        text-transform: capitalize;
        color: #0d1c2e;
        margin-top: -4.5em;
        margin-left: 5em;
      }
      p:last-of-type {
        font-family: TT Norms;
        font-size: 12px;
        line-height: 15px;
        /* identical to box height */
        margin-left: 6.5em;
        margin-top: -0.5em;

        // display: flex;
        align-items: center;
        text-align: left;
        text-transform: lowercase;

        color: #2a8bf2;
      }
    }
    .input-area {
      position: absolute;
      bottom: 1em;
      img:first-of-type {
        margin-bottom: -4em;
      }
      img:last-of-type {
        position: absolute;
        bottom: -1.3em;
        right: -2.5em;
      }
      hr {
        width: 24em;
        height: 0.07em;
        margin-left: 4em;
        background: rgba(112, 124, 151, 0.15);
        border-radius: 2px;
      }
      input {
        margin-left: 2em;
        padding-left: 2em;
        height: 3em;
        width: 70%;
        margin-left: 3em;
        border: none;
        font-family: TT Norms;
        font-size: 16px;
        line-height: 20px;
        display: flex;
        align-items: center;
        text-transform: capitalize;
        color: #707c97;

        &:focus {
          outline: none;
        }
      }
    }
    .message-body {
      // border: 2px solid red;
      width: 30em;
      height: 26.5em;

      .sent-message {
        width: 25em;
        height: 5em;
        // left: 1130px;
        // top: 250px;

        img {
          width: 5em;
          height: 5em;
          // margin: 1em;
          // background: red;
          margin-bottom: -2.5em;
        }
        span {
          // margin-top: -5em;
          font-size: 2em;
          position: relative;
          left: 13em;
          top: -2.5em;
          color: #b7bdcb;
        }
        p {
          // po
          display: inline-block;
          // clear:both;
          // float:left;
          background: linear-gradient(90.54deg, #60a9f6 0%, #2a8bf2 100%);
          /* Shadow Block Message My Opponent */
          border-radius: 0px 10px 10px 10px;

          box-shadow: 10px 10px 25px rgba(42, 139, 242, 0.1),
            15px 15px 35px rgba(42, 139, 242, 0.05),
            10px 10px 50px rgba(42, 139, 242, 0.1);
          position: relative;
          // width: 25em;
          // box-sizing: content-box;
          // height: 4.7em;
          // left: 1152px;
          // top: 50;
          margin-top: -1.5em;
          margin-left: 5em;
          padding: 0.7em;
          font-family: TT Norms;
          font-size: 13px;
          line-height: 18px;
          /* or 162% */

          // text-transform: uppercase;

          color: #ffffff;
        }
      }

      .incoming-message {
        position: relative;
        left:17em;
        top:3em;
        p {
          border-radius: 10px 10px 0px 10px;

          padding:0.8em;
          background: #FFFFFF;
          border: 1px solid rgba(112, 124, 151, 0.25);
          box-sizing: border-box;
          /* Shadow My Messages */
          
          box-shadow: 10px 10px 25px rgba(112, 124, 151, 0.05), 15px 15px 35px rgba(112, 124, 151, 0.05);
          font-family: TT Norms;
          font-size: 14px;
          line-height: 18px;
          /* or 162% */

          display: inline-block;
          align-items: center;

          color: #707c97;
        }
      }
    }
  }
}
